.dashboard {
     margin: 68px 70px 20px 75px;
}

.dashboardTitleRow {
     display: flex;
     margin-bottom: 33px;
}

/* Page Section */

.dashboardPageRow {
     display: flex;
}

.dashboardPageLinks {
     display: flex;
     width: 100%;
}

.dashboardPageItem {
     margin-right: 53px;
}

.dashboardPageText {
     margin: 0px 10px;
     text-decoration: none;
     color: black;
     font-weight: 400;
     font-size: 17px;
     white-space: nowrap;
}

.TESTLINE {
     border-top: 1px solid #e7e7e7;
     width: 100vh;
     margin-left: -100px;
}

/* Dashboard Main */

.dashboardMainRow {
     margin-top: 79px;
}

.activeTop {
     border-bottom: 3px solid black;
}

@media only screen and (max-width: 1110px) {
     .dashboard {
          margin: 68px 55px 20px 25px;
     }

     @media only screen and (max-width: 950px) {
          .dashboard {
               margin: 20px 55px 20px 25px;
          }

          @media only screen and (max-width: 800px) {
               .dashboard {
                    margin: 20px 25px 20px 25px;
               }
               .dashboardPageItem {
                    margin-right: 30px;
               }

               .dashboardPageText {
                    font-size: 15px;
               }

               @media only screen and (max-width: 600px) {
                    .dashboard {
                         margin: 10px;
                    }
                    .dashboardPageItem {
                         margin-right: auto;
                    }
               }
          }
     }
}
