.dashboard {
     margin: 68px 70px 20px 75px;
}

.dashboardTitleRow {
     display: flex;
     margin-bottom: 33px;
}

/* Page Section */

.dashboardPageRow {
     display: flex;
     border-bottom: 1px solid #e7e7e7;
     width: 120%;
     margin-left: -100px;
}

.dashboardPageLinks {
     display: flex;
     margin-left: 100px;
}

.dashboardPageItem {
     margin-right: 53px;
}

.dashboardPageText {
     margin: 0px 10px;
     text-decoration: none;
     color: black;
     font-weight: 400;
     font-size: 17px;
}

/* Dashboard Main */

.dashboardMainRow {
     margin-top: 79px;
}

.activeTop {
     border-bottom: 3px solid black;
}
