.dashboardMain {
     display: flex;
     column-gap: 38px;
}

.dashboardMainProposed {
     flex: 25%;
}

.dashboardMainInProgress {
     flex: 25%;
}

.dashboardMainReview {
     flex: 25%;
}

.dashboardMainComplete {
     flex: 25%;
}

.dashboardMainProposedHeader {
     display: flex;
     justify-content: space-between;
}

/* TEXT */

.dashboardMainProposedHeaderLeft {
     font-size: 19px;
     font-weight: 600;
     display: flex;
     align-items: center;
}

.dashboardMainProposedHeaderLeftIcon {
     margin-right: 10px;
     display: flex;
}

.dashboardMainProposedHeaderSelect {
     font-size: 19px;
     font-weight: 500;
     color: #e7e7e7;
     display: flex;
     align-items: center;
}

.dashboardMainProposedHeaderRightIcon {
     margin: 0px 10px 0px 15px;
}

.dashboardMainProposedList {
     margin-top: 47px;
}

@media only screen and (max-width: 1389px) {
     .dashboardMain {
          display: grid;
          margin-right: 35px;
          grid-template-columns: 50% 50%;
     }

     .dashboardMainProposed {
          margin-bottom: 50px;
     }

     .dashboardMainInProgress {
          margin-bottom: 50px;
     }

     .dashboardMainReview {
          flex-basis: calc(50% - 100px);
          margin-bottom: 50px;
     }

     .dashboardMainComplete {
          flex-basis: calc(50% - 100px);
     }

     @media only screen and (max-width: 800px) {
          .dashboardMain {
               margin-right: 0px;
               display: flex;
               flex-direction: column;
          }
     }
}
