.topbar {
     display: flex;
     margin-left: 125px;
     height: 35px;
     margin-top: 20px;
}

.topbarLeft {
     flex: 50%;
     display: flex;
     justify-content: flex-start;
     align-items: center;
}

.topbarRight {
     flex: 50%;
     display: flex;
     justify-content: flex-end;
     align-items: center;
     margin-right: 65px;
}

.topbarIcon {
     margin-left: 15px;
     display: flex;
}

.topbarSearch {
     display: flex;
     align-items: center;
     justify-content: center;
     border-radius: 10px;
     border: 1px solid rgba(0, 0, 0, 0.5);
     margin-right: 0px;
     width: 150px;
     height: 30px;
     padding: 0px 10px;
     margin-left: 35px;
}

.topbarSearchInput {
     margin-left: 10px;
     border: none;
     height: 90%;
     outline: none;
     width: 90%;
     color: rgba(0, 0, 0, 0.5);
}

.topbar {
     display: none;
}

.mobileShow {
     display: none;
}

.mobileMenu {
     background-color: rgb(255, 255, 255);
     display: flex;
     flex-direction: column;
     width: 100%;
     height: 100%;
     z-index: 200;
     position: absolute;
     top: 0px;
     left: -100%;
     opacity: 1;
     transition: all 0.5s ease;
     padding-top: 50px;
     overflow: hidden;
}

.mobileMenu.active {
     left: 0;
     opacity: 1;
     transition: all 0.5s ease;
     z-index: 1;
}

.mobileMenuTop {
     width: 90%;
     margin: 0px 20px;
     display: flex;
     justify-content: space-between;
}

.mobileMenuContent {
     margin-top: 30px;
     display: flex;
     flex-direction: column;
}

.sidebarLinkIcon {
     display: flex;
     justify-content: center;
     align-items: center;
     margin-left: 50px;
}

.mobileMenuText {
     margin-left: 30px;
     font-weight: 600;
     color: black;
}

@media only screen and (max-width: 950px) {
     .topbar {
          display: flex;
     }

     @media only screen and (max-width: 800px) {
          .topbarRight {
               margin-right: 35px;
          }

          @media only screen and (max-width: 600px) {
               .topbar {
                    margin-left: 20px;
               }

               .topbarRight {
                    margin-right: 20px;
               }

               .mobileShow {
                    display: flex;
                    cursor: pointer;
               }
          }
     }
}
