body {
     margin: 0;
     padding: 0;
     background-color: white;
     font-family: 'Poppins', sans-serif;
     overflow-x: hidden;
}

.mainIMG {
     position: absolute;
     top: 0px;
     left: 0px;
     width: 100%;
     opacity: 0;
}

:root {
     --color-main: #341eff;
     --color-black: #485aff;
     --color-white: #ffffff;
     --color-blue: #4ecaff;
     --color-whiteblue: #edf9ff;
     --color-orange: #ff8b6a;
     --color-whiteorange: #ffefea;
     --color-Blackblue: #341eff;
     --color-whiteBlackblue: #eae8ff;
     --color-green: #4ce676;
     --color-whiteGreen: #e8ffed;
}

.main {
     margin-left: 125px;
     padding: 10px 10px;
}
