.dashboardTitleLeft {
     flex: 50%;
     display: flex;
     justify-content: flex-start;
     align-items: center;
}

.dashboardTitleRight {
     flex: 50%;
     display: flex;
     justify-content: flex-end;
     align-items: center;
     animation: opacity 1s ease-in-out;
}

.dashboardTitleRightButton {
     height: 55px;
     width: 152px;
     display: flex;
     align-items: center;
     background-color: var(--color-Blackblue);
     color: white;
     justify-content: center;
     border-radius: 8px;
}

.dashboardTitleRightButton:hover {
     transform: scale(1.02, 1.02);
}

.dashboardTitleRightButton:active {
     transform: scale(1.05, 1.05);
}

.dashboardTitleRightSearch {
     display: flex;
     align-items: center;
     justify-content: center;
     border-radius: 10px;
     border: 1px solid rgba(0, 0, 0, 0.5);
     margin-right: 36px;
     width: 293px;
     height: 53px;
     padding: 0px 10px;
     margin-left: 35px;
}

.dashboardTitleRightSearchInput {
     margin-left: 10px;
     border: none;
     height: 90%;
     outline: none;
     width: 90%;
     color: rgba(0, 0, 0, 0.5);
}

.dashboardTitleRightSearchIcon {
     display: flex;
     margin-left: 15px;
}

.dashboardTitleRightIcon {
     display: flex;
     margin-left: 30px;
}

/* TEXT */

.dashboardTitleLeftText {
     font-size: 3rem;
     font-weight: 600;
     animation: slideIn 0.8s ease-in-out;
}

.dashboardTitleRightButtonText {
     font-size: 13px;
     font-weight: 500;
}

/* ANIMATION */

@keyframes slideIn {
     0% {
          transform: translateX(-300px);
          opacity: 0;
     }
     100% {
          transform: translateX(0px);
          opacity: 1;
     }
}

@keyframes opacity {
     0% {
          opacity: 0;
     }
     100% {
          opacity: 1;
     }
}

@media only screen and (max-width: 1389px) {
     .dashboardTitleLeftText {
          font-size: 43px;
     }

     .dashboardTitleRightSearch {
          width: 200px;
     }

     @media only screen and (max-width: 1110px) {
          .dashboardTitleLeftText {
               font-size: 35px;
          }
          .dashboardTitleRightSearch {
               width: 150px;
          }

          @media only screen and (max-width: 950px) {
               .dashboardTitleLeftText {
                    font-size: 25px;
               }

               .mobileDisable {
                    display: none;
               }
          }
     }
}
